#body_404{

    width: 86%;

    margin: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
}

#body_404 h3{
 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    /* or 411px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FF6060;

    margin: auto;
    

}

#body_404 h5{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    /* or 51px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FF6060;

}

#link_404{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* identical to box height, or 26px */
    
    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;
    
    color: #FF6060;

}


@media screen and (max-width: 750px){


    #body_404 h3{



        font-size: 96px;


    }



    #body_404 h5{



        font-size: 18px;


    }

    #link_404{



        font-size: 14px;  


    }


}