

.accordion-item{

    width: 86%;

}

.accordion{

display: flex;    
display: flex;
flex-direction: column;

}
.accordion-title{

display: flex;
background: #FF6060;
border-radius: 5px;
align-items: baseline;
justify-content: space-between;
padding: 5px 10px 5px 10px;

z-index: 400;

cursor: pointer;

}



.accordion-title h5{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    margin: 0;

}

.dropdown_close svg{

cursor: pointer;
border-radius: 0px;



}


.accordion-content{

    background: #F7F7F7;
    border-radius: 5px;
    padding: 1%;
    margin-top: -5px;
    display: block;
    z-index: 100;

}

.accordion-content p {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */
    
    
    color: #FF6060;


}