.material-icons_expand{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #FFFFFF;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.accordion-item{

    width: 86%;
    margin-left: auto;
    margin-right: auto;

}

.accordion{

display: flex;    
display: flex;
flex-direction: column;

}
.accordion-title{

display: flex;
background: #FF6060;
border-radius: 5px;
align-items: center;
justify-content: space-between;
padding: 5px 10px 5px 10px;

z-index: 400;

cursor: pointer;

}



.accordion-title h5{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    margin: 0;

}

.accordion-content{

    background: #F7F7F7;
    border-radius: 5px;
    padding: 1%;
    margin-top: -5px;
    display: block;
    z-index: 100;


}

.accordion-content p {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */
    
    white-space: pre-wrap;
    color: #FF6060;


}

.accordion-about{

    width: 86%;
    margin-left: auto;
    margin-right: auto;

}



.accordion-details{

    width: 86%;
    margin-left: auto;
    margin-right: auto;

}



@media screen and (max-width: 750px){


.accordion-content{

        background: #F7F7F7;
        border-radius: 5px;
        padding: 1%;

        width: 95%;
        margin: auto;
        margin-top: -5px;
    
    
}



.accordion-item .accordion{

width: 100%;
margin: auto;

}


.accordion-title{

height: 30px;
width: 100%;
margin: auto;


}

.accordion-details , .accordion-about{

width: 95%;


}

.accordion-details .accordion-title, .accordion-about .accordion-title{

    width: 95%;

    padding: 0px 5px 0px 5px;

}






.accordion-content p {


    font-size: 12px;


}



.accordion-title h5{


    font-size: 13px;

}



.material-icons_expand{

    font-size: 15px;

}







}