#body_fiche_logement{

display: flex;
flex-direction: column;
gap: 50px;

}

#deuxieme_section{

width: 86%;
display: flex;
justify-content: space-between;
margin: auto;
align-items: flex-start;


}

#flex_left{

    display: flex;
    flex-direction: column;
    gap: 20px;

}

#flex_left h6{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    /* or 51px */
    
    display: flex;
    align-items: flex-end;
    
    color: #FF6060;
    margin: 0;


}

#deuxieme_section p {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* identical to box height, or 26px */

    margin: 0;

    
    color: #FF6060;

}

#tags{

display: flex;
gap: 20px;

}

#flex_right{

display: flex;
flex-direction: column;
gap: 35px;
align-items: flex-end;

}

#info_auteur{

display: flex;
flex-direction: row;
gap: 15px;
align-items: center;


}

#info_auteur h6{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px */
    
    display: flex;
    align-items: flex-end;
    text-align: right;
    
    color: #FF6060;
    width: 93px;
    margin: 0;

}

#info_auteur img{

height: 64px;
width: 64px;
border-radius: 50px;
object-fit: cover;
}





#section_accordion{

display: flex;
flex-direction: row;
margin: auto;
width: 86%;
gap: 60px;

align-items: flex-start;

}

@media screen and (max-width: 750px){

#body_fiche_logement{


gap: 20px;
        
        }




#deuxieme_section{


flex-direction: column;
gap: 10px;

}

#deuxieme_section p {

font-size: 14px;


}

#flex_left{

gap: 10px;

}

#flex_left_text{

    gap: 7px;
    display: flex;
    flex-direction: column;

}


#flex_left h6{

font-size: 18px;

}




#flex_right{

    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;


    }



    #info_auteur{

        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        
        
    }
    
    #info_auteur img{

            height: 32px;
            width: 32px;
            border-radius: 50px;
            object-fit: cover;
            
    }


    #info_auteur h6{

        font-size: 12px;
        justify-content: flex-end;
        white-space: pre-wrap;
        width: 50px;
        
        
        }

    #section_accordion{

        flex-direction: column;
        width: 90%;
        gap: 20px;

    }


}

