.material-icons_rate_red{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: red;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons_rate_grey{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #E3E3E3;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


#rate_div{

  position: relative;

}

#rate_red{

position: absolute;

}


@media screen and (max-width: 750px){

  .material-icons_rate_red{

    font-size: 18px;  /* Preferred icon size */

}

.material-icons_rate_grey{

    font-size: 18px;  /* Preferred icon size */


}


}