.tag_div{

    background: #FF6060;
    border-radius: 10px;


}


.tag_title{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    /* identical to box height, or 20px */
    
    text-align: center;
    
    color: #FFFFFF;

    margin: 3px 15px 3px 15px;

}